html,body {
    font-family: 'Times New Roman', sans-serif;
    color: #fff;
    margin: 0 auto;
    min-width: 1000px;
    -webkit-font-smoothing: subpixel-antialiased;
}

                                                            /*header*/

.header {
    height: 50px;
    width: 100%;
    background: #2c3e50;
}

#nav {
    width: 930px;
    border: none;
    margin: 0 auto;
    vertical-align: top;
}

#nav tr{
    width: 930px;
    margin-top: 0;
}

#nav ul {
    margin-left: 160px;
    margin-top: -12px;
    list-style: none;
}

#nav li {
    display: inline-block;
    margin:0 15px;
}

.panel {
    text-decoration: none;
    color: #fff;
    padding: 16.5px 10px;
}

.panel:hover {
    background: #27ae60;

}

#nav p {
    float: left;
    text-align: center;
    width: 140px;
    background: #fff;
    color: #27ae60;
    font-weight: 700;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
    margin-top: -3px;
}

.button {
    margin-left: 190px;
    vertical-align: 30px;
    font-weight: 600;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    background: #27ae60;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #31a249;
    color: #e1e1e1;
    text-decoration: none;
}

                                                                /*slider*/

/*
*   CUSTOM CONTROLS
*/
#my-slide .devrama-slider .button-slider{
    font-size: 4em;
    background-color: transparent;
    padding: 0.4em 0.8em;
    color: rgba(0, 0, 0, 0.74) !important;
    text-decoration: none;
    cursor: pointer;
}

#my-slide .devrama-slider .button-previous {
    position: absolute;
    top: 35%;
    left: 180px;
}

#my-slide .devrama-slider .button-next {
    position: absolute;
    top: 35%;
    right: 180px;
}

/*
*   CUSTOM NAVIGATION
*/
#my-slide .devrama-slider .navigation {
    position: absolute;
    bottom: 25px;
    left: 45%;
}

#my-slide .devrama-slider .navigation .inner .nav-link {
    background-color: #2c3e50;
    border-radius: 100%;
    padding: 4px 8px;
    color: transparent;
    margin-right: 5px;
    cursor: pointer;
}

#my-slide .devrama-slider .navigation .inner .nav-link:hover {
    background-color: #242424;
}

#my-slide .devrama-slider .navigation .inner .nav-link.active {
    background-color: rgba(44, 62, 80, 0.51);
    color: transparent;
}
                                                        /*Slider Content*/

#my-slide p {
    margin-top: 80px;
    margin-left: 240px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    color: rgba(68, 68, 65, 0.9);
    text-align: center;
    letter-spacing: -1px;
    word-spacing: 5px;
}

#my-slide a {
    margin-left: 750px;
}

                                                            /*content*/

.content {
    font-family: 'Roboto' ,sans-serif;
    margin-top: 30px;
    color: #080808;
}

#content_table {
    margin: 0 auto;
    width: 930px;
}

#content_table h2{
    text-align: center;
}

#content_footer {
    margin-top: 30px;
    height: 540px;
    background: url(../images/content_footer.jpg) center center no-repeat;
    background-size: cover;
}

.form {
    background: #fff;
    width: 450px;
    height: 350px;
    position: absolute;
    left: 33%;
    margin-top: 130px;
    border-radius: 3px;
}

.form p{
    margin-top: 20px;
    margin-bottom: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.3em;
    color: rgba(68, 68, 65, 1);
    text-align: center;
}

#word_field_1 {
    margin-top: 0;
    margin-bottom: 10px;
}

#word_field_2 {
    margin-bottom: 10px;
}

.form_group {
    text-align: center;
}

input {
    width: 300px;
    height: 50px;
    font-size: 1em;
    background: #f5f5f5;
    border-radius: 3px;
    text-indent: 10px;
    border-color: #e8e8e5;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

input:-moz-placeholder                 {color: #272727;}
input::-webkit-input-placeholder       {color: #272727;}
input:-moz-placeholder                 {color: #272727;}
input::-webkit-input-placeholder       {color: #272727;}
input::-webkit-input-placeholder       {text-indent: 10px;  transition: text-indent 0.4s ease;}
input::-moz-placeholder                {text-indent: 10px;  transition: text-indent 0.4s ease;}
input:-moz-placeholder                 {text-indent: 10px;  transition: text-indent 0.4s ease;}
input:-ms-input-placeholder            {text-indent: 10px;  transition: text-indent 0.4s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.4s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.4s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.4s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.4s ease;}

select {
    border-radius: 3px;
    background: #f5f5f5;
    text-indent: 5px;
    width: 300px;
    height: 50px;
    text-align: left;
    font-size: 1em;
    color: #272727;
    border-top: 2px solid #ababa8;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

                                                                    /*footer*/

.footer {
    margin-top: 0;
    height: 50px;
    width: 100%;
    background: #2c3e50;
}


#footer_text {
    left: 45%;
    position:absolute;
    margin-top: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.1em;
}










